Make supercompression schemes optional, except Basis 

Following WG discussion the consensus is to make all except Basis optional. Subsidiary question is what optional schemes to include: LZMA only, LZMA & Zstd, LZMA, Zstd  and Deflate?

LZMA has a higher compression ratio than Zstd but its decompression is slow (and reportedly much slower than Zstd).

> what optional schemes to include

I think that developers should be free to use any of them because their pipelines may already be using one of these.

For ratification and portability reasons, we should also refer to authoritative sources for these schemes. For example:

| Name | Specification | Reference Implementation (License) |
|--------------|-------------------------------------------------------------------------------------------------|------------------------------------------------|
| zlib/deflate | [RFC 1950](https://tools.ietf.org/html/rfc1950)<br>[RFC 1951](https://tools.ietf.org/html/rfc1951) | https://zlib.net/ (zlib license) |
| Zstandard | [RFC 8478](https://tools.ietf.org/html/rfc8478) | https://facebook.github.io/zstd/ (BSD + GPLv2) |
| LZMA / LZMA2 |  No RFC document | https://www.7-zip.org/sdk.html (public domain) |

Please review PR #103.